.cards__admin { 
  padding: 4rem;
  background: rgb(196, 212, 212);
}

h1 {
  text-align: center;
}



.admin__wrapper {
  position: relative;
  margin: 50px 0 45px;
  display: flex;
  flex: 1;
  justify-content: space-evenly;
  margin: 0 1rem;    
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.9);
  margin-bottom: 24px;
}
.admin__wrapper:hover {
  box-shadow:0 16px 32px 0 rgba(133, 103, 151, 0.966);
}

.admin__container {
  margin-top: 10px;;
}



.admin__item__info {
  padding: 20px 30px 30px;

}

.admin__item__text {
  color: #252e48;
  font-size: 18px;
  line-height: 24px;
}

Button {
  justify-content:space-between;
}




@media only screen and (min-width: 1024px) {
  .admin__items {
    display: flex;
  }
 
}

@media only screen and (max-width: 1024px) {
  .admin__item {
    margin-bottom: 2rem;
  }

  
}