.app-container {
    /* background: url('/images/img-home.jpg') center center/cover no-repeat; */
    height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
    background-color: rgb(182, 215, 216);
  }
  .app-wrapper {
    position: relative;
    margin: 50px 0 45px;
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    margin: 0 1rem;    
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.9);
    margin-bottom: 50px;
    width: 50rem;
   
  }
  .app-items {
    margin: 10px;
    margin-bottom: 10px;
  }

  label{
    color: #fff;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }
  input[type="file" i] {
    appearance: initial;
    Font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
      font-size: 15px;     
    cursor:progress;
    align-items: baseline;
    color: inherit;
    text-overflow: ellipsis;
    white-space: pre;
    text-align: start !important;
    padding: initial;
    border:burlywood;
    overflow: hidden;
    margin-left: 5px;
}

.app-wrapper:hover {
  box-shadow:0 16px 32px 0 rgba(209, 188, 1, 0.966);
}


  .app-container > h3 {
    color: rgb(255, 255, 255);
    font-size: 30px;
    margin-top: 50px;
  }
  
  .app-container > p {
    margin-top: 8px;
    color: #fff;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }

  .app-input {
    padding: 8px 20px;
    border-radius: 2px;
    margin-left: 10px;
    outline: none;
    border: none;
    font-size: 15px;
    margin-bottom: 16px;
    border: 1px solid #fff;
  }

  @media screen and (max-width: 780px) {
    .app-input {
        padding: 8px 20px;
        border-radius: 2px;
        margin-left: 10px;
        outline: none;
        border: none;
        font-size: 15px;
        margin-bottom: 16px;
        border: 1px solid #fff;
      }
      .app-wrapper {
        position: relative;
        margin: 50px 0 45px;
        display: flex;
        flex: 1;
        justify-content: space-evenly;
        margin: 0 1rem;    
        border-radius: 10px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.9);
        margin-bottom: 24px;
        width: 20rem;
       
      }
    
  
    
  
    .btn {
      width: 100%;
    }
  
    .footer-link-wrapper {
      flex-direction: column;
    }
  
    .social-media-wrap {
      flex-direction: column;
    }
  }
  
 

 
  
  @media screen and (max-width: 768px) {

    .app-input {
        padding: 4px 10px;
        border-radius: 2px;
        margin-left: 5px;
        outline: none;
        border: none;
        font-size: 7px;
        margin-bottom: 8px;
        border: 1px solid #fff;
      }
  }