





.investors-container {
    background: url('../component/images/wp1920612.png') center center/cover no-repeat;
    height: 100vh;
    max-width: 100%;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
    
  }


  .investor-wrapper {
   
    max-width: 80%;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
  }

 