.learn-container {
    /* background: url('/images/img-home.jpg') center center/cover no-repeat; */
    height: 100vh;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
  }
  .learn-wrapper {
    /* background: url('/images/img-home.jpg') center center/cover no-repeat; */
    height: 90vh;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
    border: lavender;
    border-style: solid;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.9);
  }
  .learn-wrapper:hover {
    
    box-shadow:0 16px 32px 0 rgba(148, 133, 138, 0.966);
  
}

  .learn-wrapper > h1 {
    color: rgb(126, 112, 112);
    font-size: 50px;
    
  }
  .learn-wrapper > h3 {
    color: rgb(126, 112, 112);
    font-size: 25px;
 
  }
  .learn-wrapper > h4 {
    color: rgb(126, 112, 112);
    font-size: 25px;
 
  }

  .learn-wrapper > p {
    margin-top: 8px;
    color: rgb(126, 112, 112);
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }

  @media screen and (max-width: 960px) {
    .learn-wrapper > h1 {
      font-size: 30px;
      margin-top: -150px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .learn-wrapper > h1 {
      font-size: 25px;
      margin-top: -100px;
    }
  
    .learn-wrapper > p {
      font-size: 10px;
    }
}

.learnb-container {
  /* background: url('/images/img-home.jpg') center center/cover no-repeat; */
  margin-top: 50px;
  height: 10vh;
  max-width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  object-fit: contain;
}
  
.learnx-container {
  /* background: url('/images/img-home.jpg') center center/cover no-repeat; */
  height: 70vh;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  object-fit: contain;
}
