.test-container {
    /* background: url('/images/img-home.jpg') center center/cover no-repeat; */
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
    background-color: rgb(224, 241, 239);
  }
.test-wrapper {
    /* background: url('/images/img-home.jpg') center center/cover no-repeat; */
 
    width: 80%;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(228, 184, 184, 0.2);
    object-fit: contain;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.9);
   background-color: rgb(158, 164, 179);
   margin-bottom: 5px;
  
  }

  .test-wrapper:hover {
    
    box-shadow:0 16px 32px 0 rgba(155, 95, 115, 0.966);
  
}

  
  .test-wrapper > h3 {
    color: rgb(233, 239, 248);
    font-size: 30px;
    text-align: center;
    
  }
  
  
  .test-wrapper > p {
    margin-top: 20px;
    
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
      
  }

  @media screen and (max-width: 960px) {
    .test-container > h3 {
      font-size: 28px;
    
    }
    
  }
  
  @media screen and (max-width: 768px) {
    .test-container > h3 {
      font-size: 20px;
    
    }
  
    .test-container > p {
      font-size: 12px;
    }
  
   
   
  }

  @media screen and (max-width: 960px) {
    .test-wrapper > h3 {
      font-size: 28px;
     
    }
  }

  @media screen and (max-width: 768px) {
    .test-wrapper > h3 {
      font-size: 20px;
     
    }
  
    .test-wrapper > p {
      font-size: 12px;
    }
  
    
  }

  
  
  
  
 